autom4te.cache
configure
.deps
.libs
Makefile.in
aclocal.m4
config.log
config.cache
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
/Makefile
Makefile.in
missing
config.h
config.h.in
releases
stamp-h
stamp-h1
stamp-h.in

*.la
*.lo
*.o

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

*~
*.kate-swp
*.swp
.kdev4
.kdev_include_paths

/build*
.dirstamp
/install
/squarez
/squareztest
/squareztest_bot