*~
*.kate-swp
*.swp
.kdev4
.kdev_include_paths
.directory
*#

/build*
/obj-*
/debian/*.ex
/debian/*.EX
/debian/*.log
/debian/*.substvars
/debian/stamp-*
/debian/files

sailfish/harbour-squarez.pro.user
sailfish/rpm/harbour-squarez.spec
