a
{
	text-decoration: none;
}

.modeSelection
{
	display: table;
	text-align: center;
	width: 100%;
	min-height: 300px;
}

.modeSelection > *
{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.singleplayerChoice:hover,
.multiplayerChoice:hover
{
	background-color: #FFFFFF;
}

.singleplayerChoice,
.multiplayerChoice
{
	padding: 10px;
}