body,
.pause
{
	margin: 0;
	background-color: #E0E0E0;
	font-family: DejaVu, Arial;
}

.cell.symbol0
{
	background-color: #FF0000;
}
.transition-square.symbol0
{
	background-color: rgba(255,0,0,0.3);
	border-color: #FF0000;
}
.cell.symbol1
{
	background-color: #FFFF00;
}
.transition-square.symbol1
{
	background-color: rgba(255,255,0,0.3);
	border-color: #FFFF00;
}
.cell.symbol2
{
	background-color: #0000FF;
}
.transition-square.symbol2
{
	background-color: rgba(0,0,255,0.3);
	border-color: #0000FF;
}

.cell:hover::after,
.cell.selected::after
{
	content: " ";
}
.cell:hover::after,
.cell.selected::after,
.gameOver,
.pause
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.no-touch .cell:hover::after
{
	background-color: rgba(255,255,255,0.3);
	border: 0.08em solid rgba(0,0,0,0.2);
}

.cell.selected::after
{
	border: 0.16em solid rgba(0,0,0,0.8);
	box-shadow: 0 0 0.2em black;
}

#gameArea
{
	font-size: 50px;
	position: relative;
	overflow: hidden;
	height: 8.2em;
	width: 8em;
}

.cell,
.cell::after
{
	border-radius: 0.25em;
}
.cell
{
	position: absolute;
	width: 0.8em;
	height: 0.8em;
	margin: 0.1em;
}

.cell
{
	transition: top 0.3s ease-in;
	-webkit-transition: top 0.3s ease-in;
}
.cell.doubleMove
{
	transition: top 0.42s ease-in;
	-webkit-transition: top 0.42s ease-in;
}

.removed
{
	display:none;
}

.y-2 {top: -2em;}
.y-1 {top: -1em;}
.y0 {top: 0em;}
.y1 {top: 1em;}
.y2 {top: 2em;}
.y3 {top: 3em;}
.y4 {top: 4em;}
.y5 {top: 5em;}
.y6 {top: 6em;}
.y7 {top: 7em;}

.x0 {left: 0em;}
.x1 {left: 1em;}
.x2 {left: 2em;}
.x3 {left: 3em;}
.x4 {left: 4em;}
.x5 {left: 5em;}
.x6 {left: 6em;}
.x7 {left: 7em;}

.transition-square-container, .transition-square
{
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	opacity:1;
	pointer-events:none;
}
.transition-square
{
	border-width: 0.2em;
	border-style: solid;
	border-radius: 0.2em;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.transition-removed
{
	opacity:0;
}
.transition-removed .transition-square
{
	-webkit-transform: scale(5);
	transform: scale(5);
}

.scoreContainer
{
	font-size: 40px;
	font-weight: bold;
}

.timeLeftOuter,
.timeLeftInner
{
	position: absolute;
	left: 0;
	bottom: 0;
}
.timeLeftOuter
{
	right: 0;
	height: 0.2em;
	background: #FFFFFF;
}
.pause
{
	bottom: 0.2em;
}
.timeLeftInner
{
	top: 0;
	background: rgb(30,87,153);
	background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
}

.gameOver
{
	background: rgba(255,255,255,0.8);
}

.pause,
.gameOver
{
	z-index: 1;
	text-align: center;
	line-height: 8em;
}

.pauseButton
{
	display: inline-block;
	padding: 0.3em;
	border-radius: 0.5em;
	background: rgb(254,204,177);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	color: #FFFFFF;
	margin: 0.2em 0.5em;
	box-shadow: 0 0 0.5em #808080;
}