a
{
	text-decoration: none;
}

.modeSelection
{
	table-layout: fixed;
	display: table;
	width: 100%;
	min-height: 300px;
}

#install,
.modeSelection
{
	text-align: center;
}

.modeSelection > *
{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.modeSelection > *:hover,
#install:hover
{
	background-color: rgba(255,255,255, 0.1);
}

.singleplayerChoice,
.multiplayerChoice,
#install
{
	padding: 10px;
}

#install
{
	background: #000000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.homeScoreList
{
	text-align: center;
}
#highScores
{
	display: inline-block;
}
